/* NAV */

nav	{
	width: 100%;
	background: #fff;
	height: auto;
	position: fixed;
	z-index: 1100;
	@include box-shadow(0, 8px, 6px, -6px, $gray);
	padding: 10px;
	li {
		padding-right: 28px;
		&:first-child	{
			padding-left: 18px;
		}
	}
}

/* MOBILE NAV */


.sidr	{
	display:none;
	position:absolute;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:220px;
	overflow-x:none;
	overflow-y:auto;
	background:#fff;
	color:$grayDark;
	@include box-shadow(5px, 0px, 20px, -5px, $grayDark);
	.sidr-inner	{
	padding:0 0 15px;
	}
	&.left	{
	left:-220px;
	right: auto;
	}
	ul	{
	display:block;
	margin:0;
	padding-left: 0;
		li	{
		display:block;
		margin:0;
		border-bottom:2px dashed $red;
			a	{
				color: $grayDark;
				display: block;
				padding: 10px;
				font-size: 20px;
				&:hover	{
					background-color: $gray;
					color: #fff;
					@include transition(all, 0.3s, ease-in-out);
				}
			}
		}
	}
}

/* MAIN */

main	{
	@include box-shadow(0px, -8px, 20px, -5px, $grayDark);
	z-index: 1000;
}

.container	{
	width: 1200px;
	margin: auto;
}

#hero	{
	height: 400px;
	overflow: hidden;
}

section	{
	@include transition(all, 0.3s, ease-in-out);
	padding-top: 75px;
	&#hero	{
		background-image: url('../Beerd/img/hero.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		z-index: 0;
		width: 100%;
		padding-top: 45px;
		video	{
			position: absolute;
			width: 100%;
		}
		ul	{
			text-align: center;
			color: #fff;
			li {
				letter-spacing: 2px;
				font-size: 22px;
				opacity: .8;
				&:last-child	{
					&:after	{
						content: none;
					}
				}
				&:after	{
					content: "   +   ";
					color: $red;
					opacity: .65;
				}
			}
		}
	}
	&#contact	{
		ul	{
			text-align: center;
			font-size: 24px;
			padding-bottom: 70px;
			li	{
				padding-bottom: 20px;
			}
		}
	}	
}

/* FOOTER */

footer	{
	width: 100%;
	padding: 40px 0;
	background-color: $grayDark;
	ul.unstyled li {
		padding-bottom: 10px;
		&:before	{
			content: "> ";
			color: $red;
		}
	}
}

/* SINGLE */

#single	{
	a img	{
		text-align: center;
		display: block;
		margin: auto;
		border: 2px solid $gray;
		max-width: 640px;
		height: auto;
		&:hover	{
			border: 2px solid $red;
			@include transition(all, 0.3s, ease-in-out);
		}
	}
}