@media all and (max-width: 1200px) {
	.container	{
		max-width: 100% !important;
		padding: 0 25px;
		section	{
			padding-right: 50px;
		}
	}
}

@media all and (max-width: 970px) {
	section	{
		&#hero	{
			height: 270px;
			h1	{
				padding-top: 0;
			}
			ul li	{
				display: list-item;
				&:after	{
						content: none !important;
					}
				&:before	{
					content: "   +   ";
					color: $red;
					opacity: .65;
				}
			}
		}
	}
	.feature	{
		.thumbnail	{
			width: 100%;
			padding-bottom: 30px;
			a	{
				img	{
					opacity: .4;
					width: 100%;
					height: auto;
					&:hover	{
						opacity: 1.0;
						@include transition(all, 0.3s, ease-in-out);
					}
				}
			}
		}
		aside	{
			width: 100%;
			padding-left: 0;
			float: none;
		}
		h3	{
			font-size: 28px;
			width: 40%;
			padding-right: 5%;
			float: left;
		}
		h5	{
			border-left: 2px dashed $grayDark;
			padding-left: 5%;
			width: 40%;
			float: left;
			font-size: 18px;
			font-weight: 100;
			color: $gray;
		}
	}
}

@media all and (min-width: 641px)	{
	#menu	{
		display: none;
	}
	#sidr	{
		display: none !important;
	}
}

@media all and (max-width: 640px) {
	nav	{
		padding: 2px 10px;
		#menu	{
			display: block;
		}
		ul.nav	{
			display: none;
		}
	}
	section	{
		&#hero	{
			height: 145px;
			padding-top: 35px;
			h1	{
				font-size: 40px;
			}
			ul li	{
				font-size: 16px;
			}
		}
		h2	{
			font-size: 28px;
		}
		&#contact	{
			ul	{
				font-size: 18px;
			}
		}	
	}
	.feature	{
		.thumbnail	{
			padding-bottom: 15px;
			a	{
				img	{
					opacity: 1.0;
				}
			}
		}
		aside	{
			width: 100%;
			padding-left: 0;
		}
		h3	{
			font-size: 20px;
			width: 100%;
			padding-right: 0;
			float: none;
			display: block;
		}
		h5	{
			border-left: none;
			padding-left: 0;
			width: 100%;
			float: none;
			display: block;
			font-size: 14px;
			font-weight: 100;
			color: $gray;
		}
	}
	footer	{
		p	{
			font-size: 12px;
		}
		li	{
			font-size: 12px;
		}
		h3	{
			font-size: 16px
		}
	}
	#single	{
		a img	{
			max-width: 100%;
		}
	}
}